/***** CORE STYLES *****/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a,
a:hover {
  outline: none;
  text-decoration: none;
}

/***** HEADER SECTION *****/
.header_content {
  display: flex;
  padding: 20px;
  text-align: left;
}

.language {
  margin-left: auto;
}

.lang {
  width: 40px;
  height: auto;
  border: 1px solid black;
}

/***** NAVIGATION *****/
.navbar {
  background-color: #002b80;
  overflow: hidden;
  height: 63px;

  ul {
    margin: 6px 0 0;
    padding-right: 280px;
    list-style: none;
    justify-content: flex-end;
  }
}

.navbar a {
  display: flex;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
}

.fa-bars {
  font-size: 20px !important;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #002b80;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;

  a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    display: block;

    &:hover {
      color: yellow;
    }
  }
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

/***** SLIDER *****/
.slider {
  background: #034F84;
}

.slider_content {
  background-color: #034F84;
}

.slideshowContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}

.slideshowArrow {
  font-size: 2.8em;
  color: #fff;
  cursor: pointer;
  opacity: 0.7;
}

.slideshowArrow i {
  padding: 5px;
}

#leftArrow {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#rightArrow {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translate(50%, -50%);
}

.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}

.dot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
}

/***** MAIN AREA *****/
#main {
  margin-left: 0 !important;
}

/* main-a section */
.main-a {
  background: #F5F5F1;
}

.main_content-a {
  text-align: center;
  padding: 20px 20px 30px 20px;

  h1 {
    margin-top: 10px;
  }
}

.main_content-a p {
  margin-top: 15px;
}

.line {
  margin: 10px auto;
  border-bottom: 1px solid #000;
}

.left_side img {
  width: 92%;
  margin-top: 20px;
}

p.under_img {
  margin: 0;
  font-size: 14px;
}

.right_side img {
  display: none;
}

/* main-b section */
.main_content-b {
  padding: 20px 35px;
  text-align: center;
  line-height: 0;
}

.main_content-b li {
  list-style: none;
}

.box {
  margin: 15px 0;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.32);
}

.box-content {
  margin: 0 auto 20px auto;
  width: 85%;
}

.main_content-b img {
  margin-top: 20px;
  width: 85%;
  height: auto;
}

.main_content-b p {
  background: rgb(242, 244, 248);
  padding: 20px 15px;
  line-height: 1.5;
  text-align: left
}

/***** FOOTER *****/
.footer_content {
  background: #002b80;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-top: 5px solid yellow;
}



/***** MEDIA QUERIES *****/
/* grid */
@media (min-width:700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
  }

  .header_content,
  .slider_content,
  .main_content-a,
  .main_content-b {
    grid-column: 2/4;
  }
}

/* header */
@media(max-width:568px) {
  .logo {
    width: 240px;
    height: auto;
    margin-left: 35px;
  }
}

@media(max-width:420px) {
  .language {
    position: absolute;
    left: 310px;
  }

  .lang {
    width: 30px;
    height: auto;
  }
}

/* navigation */
@media(max-width: 700px) {
  .navbar {
    position: absolute;
    top: 0;
    height: 50px;
  }

  .navbar-nav {
    display: none;
  }
}

@media(min-width: 701px) {
  .navbar {
    display: block !important;
  }

  .navbar ul {
    display: flex;
  }

  .navbar a:hover {
    border-bottom: 1px solid yellow;
  }

  .open-slide,
  .side-nav {
    display: none;
  }
}

/* slider */
@media (max-width: 700px) {
  .slider_content {
    padding-top: 1px;
  }

  .slideshowContainer {
    margin-top: 15px;
  }
}

@media (min-width: 701px) {
  .slideshowContainer {
    margin: 25px 0;
  }

  .slideshowArrow:hover {
    opacity: 1;
  }

  #leftArrow {
    left: 5%;
  }

  #rightArrow {
    right: 5%;
  }
}

/*** main area ***/
/* main_content-a */
@media (min-width: 701px) {
  .main_content-a {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main_content-a h1 {
    grid-column: span 2;
  }

  .line {
    grid-column: span 2;
    margin-top: 15px;
    width: 100%;
  }

  .left_side {
    padding: 25px;

    img {
      display: none;
    }
  }

  .right_side img {
    width: 90%;
    height: auto;
    margin-top: 25px;
    display: block;
  }
}

/* main_content-b */
@media (min-width: 701px) {
  .main_content-b ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    grid-gap: 60px;
  }

  .box {
    height: 550px;
  }

  .main_content-b img {
    margin-top: 20px;
    width: 85%;
    height: 220px;
    object-fit: cover;
  }
}