.gallery__content {
  text-align: center;
  padding: 20px 20px 30px 20px;

  .section-title {
    margin-top: 10px;
  }
}

.gallery__main-image {
  width: 80%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 7px auto;

  .gallery__main-image-title {
    background: blue;
    position: absolute;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .gallery__img {
    width: 100%;
    opacity: 0.7;
    object-fit: cover;

    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: 600px) {
  .gallery__main-images-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
  }

  .gallery__main-image {
    width: 300px;
  }
}
