.gallery__content {
  text-align: center;
  padding: 20px 20px 30px 20px;

  .section-title {
    margin-top: 10px;
  }
}

.gallery__back-button {
  display: none;
  font-size: 18px;
  width: 18px;
  margin: 15px 0 15px 5px;
  cursor: pointer;
}

.gallery__main-image {
  width: 85%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 20px auto 0px auto;
  cursor: pointer;

  .gallery__main-image-title {
    background: #0000ff;
    position: absolute;
    width: 100%;
    font-size: 13px;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .gallery__img {
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1100px) {
  .gallery__content {
    text-align: center;
    padding: 20px 70px 30px 70px;
  }

  .gallery__main-images-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
  }

  .gallery__main-image {
    width: 300px;
  }
}

@media (min-width: 500px) and (max-width: 1099px) {
  .gallery__main-image {
    width: 390px;
  }
}

@media (min-width: 767px) and (max-width: 1099px) {
  .gallery__main-images-box {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    justify-content: center;

  }

  .gallery__main-image {
    width: 327px;
    margin: 20px auto 0px auto;
  }
}

@media (min-width: 1100px) {
  .gallery__main-image-title {
    font-size: 19px !important;
  }
}

@media (min-width: 320px) and (max-width: 1099px) {
  .gallery__main-image-title {
    font-size: 16px !important;
  }
}

@media (min-width: 901px) {
  .gallery__back-button {
    font-size: 28px;
    width: 28px;
  }
}

@media (min-width: 300px) and (max-width: 900px) {
  .gallery__back-button {
    font-size: 23px;
    width: 23px;
  }
}

@media (min-width: 767px) {
  .gallery__img {
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}