/***** MAIN AREA *****/
/* main-a section */
.main-a {
  background: #F5F5F1;
}

.main_content-a {
  text-align: center;
  padding: 20px 20px 30px 20px;

  h1 {
    margin-top: 10px;
  }

  p {
    margin-top: 15px;
  }
}

.line {
  margin: 10px auto;
  border-bottom: 1px solid #000;
}

.left_side {
  img {
    width: 92%;
    margin-top: 20px;
  }

  p.under_img_left {
    margin: 0;
    font-size: 14px;
  }
}

.right_side {
  img {
    display: none;
  }

  p.under_img_right {
    display: none;
  }
}

/* main-b section */
.main_content-b {
  padding: 20px 35px;
  text-align: center;
  line-height: 0;

  li {
    list-style: none;
  }

  img {
    margin-top: 20px;
    width: 90%;
    height: auto;
  }

  p {
    background: rgb(242, 244, 248);
    padding: 20px 15px;
    line-height: 1.5;
    text-align: left
  }
}

.box {
  margin: 15px 0;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.32);
}

.box-content {
  margin: 0 auto 20px auto;
  width: 90%;
}