.contact__contact-details-mail,
.contact__contact-details-phone {
  display: grid;
  grid-template-columns: (40px 130px);
  justify-content: center;
}

.contact__contact-details-mail {
  margin-top: 20px;
}

.contact__contact-details-phone {
  margin: 10px 0 5px 0;
}

.contact__mail-icon,
.contact__phone-icon {
  font-size: 24px;
  background: #ffff00;
}

.contact__email-adress,
.contact__phone-number {
  padding-top: 5px;
  text-align: center;
  background: #004080;
  color: #fff;
}

.contact__mailto {
  color: #fff;
}

@media (min-width: 1300px) {

  .contact__mail-icon,
  .contact__phone-icon {
    font-size: 30px;
  }

  .contact__email-adress,
  .contact__phone-number {
    padding-top: 10px;
  }
}