/***** MEDIA QUERIES *****/
@media (min-width: 767px) {
  .contact_content {
    padding: 20px 20px 30px 20px;
  }
}

/* submit */
@media (min-width: 767px) {
  input.submit {
    font-size: 20px;
    padding: 10px 40px;
    margin-top: 20px;

    &:hover {
      background: #000;
    }
  }
}

/* AFTER SUBMIT */
@media (min-width:767px) {
  .aftersubmit {
    font-size: 18px;
    margin-top: 30px;
  }
}

@media (min-width: 767px) {
  .loader {
    width: 50px;
    height: 50px;
  }
}
