/* grid */
@media (min-width: 855px) {
  .gallery_content {
    grid-column: 2/4;
  }
}

/* gallery */
@media (min-width: 600px) {
  .gallery_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
  }

  .gallery_box {
    width: 300px;
  }
}