.tool-shop__box-margin-top {
  margin-top: 17px;
}

.tool-shop__general-information-box .list-title {
  text-align: left;
}

.tool-shop__general-information-list {
  text-align: left;
  margin-left: 20px;
}

@media (min-width: 990px) {
  .tool-shop__general-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .tool-shop__box-margin-top {
      margin-top: 0;
    }
  }
}