.footer {
  background: #002b80;
  border-top: 5px solid #FFFF00;
}

.footer__container {
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media (min-width: 768px) {
  .footer__container {
    padding: 13px;
  }
}