@font-face {
  font-family: "Lato";
  src: url("./font/Lato-Regular.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a,
a:hover {
  outline: none;
  text-decoration: none;
}

.content-general-style {
  text-align: center;
  padding: 20px 20px 30px 20px;
}

.general-information-style {
  max-width: 930px;
  margin: 17px auto 0 auto;
  padding: 0 5px 0 5px;

  .general-information-text-style {
    margin: 11px 0 0 0;
  }
}

.list-title {
  font-size: 19px;
}

.section-title {
  margin-top: 10px;
  letter-spacing: 1px;
}

.dividing-line {
  margin: 10px auto;
  border-bottom: 1px solid #000;
}