@media (min-width: 855px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
  }

  /*general*/
  .header_content,
  .navbar-nav,
  .slider_content,
  .footer_content,
  /*main-page*/
  .main_content-a,
  .main_content-b,
  /*subpages*/
  .gallery_content,
  .contact_content {
    grid-column: 2/4;
  }
}