.header__content {
  display: flex;
  padding: 20px;
  text-align: left;
}

.language {
  margin-left: auto;
}

.language-img {
  width: 40px;
  height: auto;
  border: 1px solid #000;
}

@media (min-width: 768px) and (max-width: 854px) {
  .logo-img {
    margin-left: 35px;
  }
}

@media (max-width: 1305px) {
  .language-img {
    margin-right: 10px;
  }
}

@media(max-width: 767px) {
  .logo-img {
    width: 240px;
    height: auto;
    margin-left: 35px;
  }

  .language-img {
    width: 30px;
    height: auto;
  }
}

@media(max-width: 356px) {
  .language {
    position: absolute;
    left: 280px;
  }
}

@media(max-width: 340px) {
  .language {
    position: absolute;
    left: 265px;
  }
}

@media(max-width: 325px) {
  .language {
    position: absolute;
    left: 255px;
  }
}

@media(max-width: 320px) {
  .logo-img {
    width: 100%;
  }

  .language {
    position: static;
    width: 40%;
    margin-top: -10px;
    text-align: center;
  }

  .language-img {
    width: 40%;
    margin-right: 0px;
  }
}