.navigation {
  background-color: #002b80;
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 50px;

  .navigation__list {
    margin-top: 6px;
    list-style: none;
    justify-content: flex-end;
  }

  .navigation__item-data,
  .mobile-navigation-toggle__icon {
    display: flex;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
  }
}

.navigation__list {
  display: none;
}

.mobile-navigation-toggle__open-icon {
  font-size: 20px;
}

.mobile-navigation {
  height: auto;
  width: 250px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #002b80;
  opacity: 0.9;
  overflow-x: auto;
  padding-top: 60px;
  padding-bottom: 20px;

  .mobile-navigation__button-close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 12px;
    right: 28px;
    font-size: 30px;
    margin-left: 50px;

    &:hover {
      color: #FFFF00;
    }
  }

  .mobile-navigation__item-data {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    display: block;

    &:hover {
      color: #FFFF00;
    }
  }
}

@media(min-width: 855px) {
  .navigation {
    display: block !important;
    height: 63px;
    position: sticky;
    z-index: 10;

    .navigation__list {
      display: flex;
    }

    .navigation__item-data {
      &:hover {
        border-bottom: 1px solid #FFFF00;
      }
    }
  }

  .navigation__list {
    display: block;
    margin-right: 20px;
  }

  .mobile-navigation-toggle,
  .mobile-navigation {
    display: none;
  }
}