.slider {
  background: url(img/slider/slider-background.jpg);
}

.slider__container {
  padding-top: 1px;
}

.slider__slideshow-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-top: 15px;
}

.slider__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider__visible {
  opacity: 1;
}

.slider__arrow {
  font-size: 2.8em;
  color: #fff;
  cursor: pointer;
  opacity: 0.7;

  .slider__left-arrow,
  .slider__right-arrow {
    padding: 5px;
  }
}

#slider__left-arrow {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#slider__right-arrow {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translate(50%, -50%);
}

.slider__circles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slider__circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}

.slider__dot-circle {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
}

@media (min-width: 940px) {
  .slider__container {
    padding-top: 0px;
  }

  .slider__slideshow-box {
    margin: 15px 0;
  }

  .slider__arrow:hover {
    opacity: 1;
  }

  #slider__left-arrow {
    left: 5%;
  }

  #slider__right-arrow {
    right: 5%;
  }
}