/***** IMPORT STYLES *****/
@import "scss/main_page/about_company.scss";
@import "scss/subpages/gallery/gallery.scss";
@import "scss/subpages/contact/contact.scss";

/***** CORE STYLES *****/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a,
a:hover {
  outline: none;
  text-decoration: none;
}

/***** HEADER SECTION *****/
.header_content {
  display: flex;
  padding: 20px;
  text-align: left;
}

.language {
  margin-left: auto;
}

.lang {
  width: 40px;
  height: auto;
  border: 1px solid #000;
}

/***** NAVIGATION *****/
.navbar {
  background-color: #002b80;
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 50px;

  ul {
    margin-top: 6px;
    list-style: none;
    justify-content: flex-end;
  }

  a {
    display: flex;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
  }
}

.navbar-nav {
  display: none;
}

.fa-bars {
  font-size: 20px !important;
}

.side-nav {
  height: auto;
  width: 250px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #002b80;
  opacity: 0.9;
  overflow-x: auto;
  padding-top: 60px;
  padding-bottom: 20px;

  .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
  }

  a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    display: block;

    &:hover {
      color: #FFFF00;
    }
  }
}

/***** SLIDER *****/
.slider {
  background: #034F84;
}

.slider_content {
  background-color: #034F84;
  padding-top: 1px;
}

.slideshowContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-top: 15px;
}

.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}

.slideshowArrow {
  font-size: 2.8em;
  color: #fff;
  cursor: pointer;
  opacity: 0.7;

  i {
    padding: 5px;
  }
}

#leftArrow {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#rightArrow {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translate(50%, -50%);
}

.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}

.dot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
}

/***** MAIN AREA *****/
#main {
  margin-left: 0 !important;
}

/***** FOOTER *****/
.footer {
  background: #002b80;
  border-top: 5px solid #FFFF00;
}

.footer_content {
  color: #fff;
  text-align: center;
  padding: 10px;
}